<div class="container-fluid portfolio">
  <section class="row resume accent-bg">
    <div class="col">
      <h1 class="center">Portfolio</h1>
      <p class="center aside-top">I don't have all of my case studies finished, so if you would like to see additional
        screenshots of other work, please go to the link below.</p>
      <p class="center"><a href="https://www.coroflot.com/Emiegan" target="_blank">Coroflot.com/Emiegan</a></p>
    </div>
  </section>

  <section class="portfolio row justify-content-center aside-bottom-x1">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-6">
          <h5>2019</h5>        
          <h1>ERP System</h1>
          <p class="aside-top-xs">Redesigning and developing an internal point-of-sale application for a moderately sized manufacturing business.</p>
  
          <a mat-stroked-button routerLink="/internal" class="btn btn-secondary aside-bottom">See
            Case Study </a>
        </div>
  
        <div class="col-6">
          <img mat-card-image src="assets/Images/tablet.PNG" alt="Photo of a tablet mockup" class="img-fluid">
        </div>
      </div>
      
    </div>
  </section>
    
</div>


